*{
    scroll-behavior: smooth;
}

body {
    background-image: url('vidal-BG.jpg');
    background-size: cover;
}

#achievements, #projects, #contact {
    padding-top: 90px;
}

.carousel-inner img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    margin: 0 auto;
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.595);
    padding: 10px;
    border-radius: 5px;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 5;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

.bg-navy {
    background-color: navy !important;
}

.mt-8 {
    margin-top: 8rem;
}

.mt-10 {
    margin-top: 10rem;
}